{% set sumo = salt['grains.filter_by']({
    'x86_64': {
        'packagename': 'sumo',
        'packagesource_us': 'https://collectors.us2.sumologic.com/rest/download/linux/64',
        'packagesource_eu': 'https://collectors.eu.sumologic.com/rest/download/rpm/64',
        'install_dir': '/usr/local/SumoCollector',
        'sources_file_path': '/etc/sources',

    },
    'i686': {
        'packagename': 'sumo',
        'packagesource_us': 'https://collectors.us2.sumologic.com/rest/download/linux/32',
        'packagesource_eu': 'https://collectors.eu.sumologic.com/rest/download/rpm/32',
        'install_dir': '/usr/local/SumoCollector',
        'sources_file_path': '/etc/sources',
    },
},
grain='cpuarch',
default='x86_64'
)%}


