sumocollector:
  accessid: *************
  accesskey: ************************************************
  collector_name: webserver
  sources_file_path: /etc/sources/
  
  sources:
    - file_name: apache_access
      data:
        api.version: v1
        source:
          name: apache_access
          pathExpression: /var/log/httpd/access_log
          sourceType: LocalFile
          category: apache
          automaticDateParsing: true
          multilineProcessingEnabled: false
          useAutolineMatching: false
          forceTimeZone: false
          timeZone: Etc/UTC
          filters: []
          cutoffRelativeTime: -1w
          encoding: UTF-8
      
    - file_name: apache_error
      data:
        api.version: v1
        source:
          name: apache_error
          pathExpression: /var/log/httpd/apache_error
          sourceType: LocalFile
          category: apache
          automaticDateParsing: true
          multilineProcessingEnabled: false
          useAutolineMatching: false
          forceTimeZone: false
          timeZone: Etc/UTC
          filters: []
          cutoffRelativeTime: -1w
