{%- set sources = salt['pillar.get']('sumocollector:sources', {}) %}
{%- set api_version =  salt['pillar.get']('sumocollector:api_version') %}

{
    "api.version": "{{ api_version }}",
    "sources": [

	{% for src in salt['pillar.get']('sumocollector:sources') -%} 
        { 
            "name":"{{ src.name }}",
            {% for k, v in src.args.items() -%} 
            "{{ k }}":"{{ v }}"{% if not loop.last %},{% endif %} 
            {% endfor %} 
	}{% if not loop.last %},{% endif %}
        {% endfor %}

    ]
}

