# This file is managed by Salt #

accessid = {{ salt['pillar.get']('sumocollector:accessid') }}
name = {{ salt['pillar.get']('sumocollector:collector_name') }}
installerMode=true
syncSources={{ salt['pillar.get']('sumocollector:sources_file_path') }}
